# build output
dist/
.output/

# dependencies
node_modules/

# Google Site Verification
PUBLIC_GOOGLE_SITE_VERIFICATION=sAcppRItFCh_dFb5CC3P0vY6Ucv-_9t_QAdEoHG4zjQ
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ignore .astro directory
.astro
 .netlify
  .netlify/assets/
# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
